<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akav.atom">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MyNewIntentService"
            android:exported="false" />

        <activity
            android:name=".RegistrationActivity"
            android:label="@string/register_activity_title" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/home_title" />
        <activity
            android:name=".overtime.OvertimeActivity"
            android:label="Overtime Allowance" />
        <activity
            android:name=".travel.TravelActivity"
            android:label="Travel Allowance" />
        <activity
            android:name=".overtime.OvertimeGridActivity"
            android:label="Select Date" />
        <activity
            android:name=".overtime.OvertimeForm"
            android:label="Fill OverTime Form" />
        <activity
            android:name=".AdminHomeActivity"
            android:label="Admin Home" />
        <activity android:name=".QRverification" />
        <activity android:name=".overtime.OvertimeFormListActivity" />
        <activity android:name=".overtime.AdminOvertimeActivity" />
        <activity android:name=".travel.AdminTravelActivity" />
        <activity android:name=".travel.TravelGridActivity" />
        <activity
            android:name=".travel.TravelForm"
            android:label="Travel Allowance Form" />
        <activity android:name=".travel.TravelFormsActivity" />
        <activity android:name=".travel.TravelFormListActiviy" />
        <activity android:name=".Notification" />
        <activity android:name=".AdminNotification" />
        <activity android:name=".Salary" />
        <activity android:name=".Welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>